[submodule "fltk"]
	path = fltk
	url = https://github.com/fltk/fltk
[submodule "random"]
	path = random
	url = https://github.com/effolkronium/random
[submodule "whereami"]
	path = whereami
	url = https://github.com/gpakosz/whereami
[submodule "args"]
	path = args
	url = https://github.com/Taywee/args
